<div class="col-md-6 col-md-offset-3">
  <div class="submission-form">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <%= f.error_notification %>
      <%= devise_error_messages! %>

      <% if params[:description_edit] == "true" or (params[:account][:description_edit] == "true" unless params[:account].nil?) %>

        <div  class="form-group">
          <h1 class="title">edit description</h1>
        </div>

        <div class="form-group">
          <%= f.input :about, required: true %>
        </div>

        <div class="form-group">
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
        </div>

        <%= f.hidden_field :description_edit, value: "true" %>

        <div class="form-group">
          <%= f.button :submit, "Update Description", class: "btn btn-primary btn-block" %>
        </div>

      <% elsif params[:photo_edit] == "true" or (params[:account][:photo_edit] == "true" unless params[:account].nil?) %>

          <div  class="form-group">
            <h1 class="title">edit photo</h1>
          </div>

          <%= f.input :account_img, required: true %>

          <div class="form-group">
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>

          <%= f.hidden_field :description_edit, value: "true" %>

          <div class="form-group">
            <%= f.button :submit, "Update Photo", class: "btn btn-primary btn-block" %>
          </div>

      <% else %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :first_name, required: true %>
            <%= f.input :last_name, required: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            

            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

            <%= f.input :account_img, required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class: "btn btn-custom" %>
          </div>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <% end %>

    <% end %>
  </div>
</div>
