<div class="review">

	<% review.rating.to_i.times do  %>
 		<%= image_tag("star-on.png") %>
	<% end %>
	<% (5-review.rating.to_i).times do %>
 		<%= image_tag("star-off.png") %>
	<% end %>
	<p class="review-comment"><%= review.comment %></p>

	<% if account_signed_in? %>

		<% if review.account_id == current_account.id %>

			<div class="links btn-group">

				<%= link_to "Edit", edit_book_review_path(review.book, review), class: "btn btn-custom" %>
				<%= link_to "Delete", book_review_path(review.book, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>

			</div>

		<% end %>

	<% end %>

</div>